.shortlink {
    padding-left: 0px !important;
    margin-top: 5px;
}
.shortlink li {
    list-style-type: none;
    padding: 2px 0px;
}
.shortlink li a {
    font-size: 16px;
    color: #E60000;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}
.shortlink li a:hover {
color: #000;
}
.sidebartab
{
    overflow: hidden;
    padding: 2em 3em;
}

.abtsite {
    padding: 2em 0em;
}
.abtsite h1 
{
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    color: #454545;
    font-family: myriad pro;
    padding: 10px 0px;
}
.footer-content{
    text-align: center;
}
.footer-content p{
    color: #fff;
    margin-top: 8px;
}
.footer-content a{
    color: #F1CA27;
}
.fableft {
    margin-top: 4px !important;
}
.logo img
{
width: 100%;
}
.logo a
{
        float: left;
}
.logo .navbar-form {
    float: right;
    padding: 3.5em 1em;
    
}
.logo .form-control
{
padding: 4px 60px 4px 15px;

}
.btn-my {
    background: #E60000;
    color: #fff;
}
.btn-my:hover{
    background: #000;
    color: #fff;

}
.cam-font i {
    font-size: 30px;
    padding: 18px 0px 0px 18px;
    color: #E60000;
}
.cam-font {
    position: absolute;
    left: 38%;
    top: -12%;
    border-radius: 35px;
    height: 70px;
    width: 70px;
    background: #ddd;
}
.sidebar-nav{
    float: left;
    overflow: hidden;
}
.sidebar-nav ul li{
    border-bottom: 1px solid #ddd;
}
.sidebar-nav ul li a,  .sidebar-nav ul li i{
    color: #000;
}
.profile-img{
    width: 80%;
    margin-left: 14px;
    border-radius: 120px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 10px 1px #ddd;
}
.search{
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    padding: 6px;
}
.select-option{
    width: 100%;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #e6e6e6;
    outline: none;
    color: #9b9b9b;
}
.serbox {
    padding: 1em 0em 1em 0em;
    overflow: hidden;
}
.serbox img {
    width: 100%;
    border: 4px solid #3F3710;
}
.serbox1,  .serbox2
{
    overflow: hidden;
    padding-bottom: 2em;
}
.center-section{
    height: auto;
    border: 1px solid #ddd;
    margin-left: 6%;
    box-shadow: 1px 1px 5px 1px #ddd;
    padding: 30px;
    line-height: 27px;
}